#*
*.elc
*.eml
*.js
*.log
*.org
*.php
*.py
*.rb
*.txt
*~
.#*
.cask/*
/test/nxml1.xml
RCS
ein
run-travis-hier.sh
test/syntactic-close--*.*
test/#*
test/*.hs
test/*.java
test/*.js
test/*.org
test/*.php
test/*.py
test/*.rb
test/*.scala
test/*.txt
test/charclass.el
test/cpp-comment.cpp
test/lisp-bracket.el
test/syntactic-close--elisp-char-class-test-1.el
test/syntactic-close--elisp-char-class-test-2.el
test/syntactic-close-c-comment-test.c
test/web-mode.el
v
neu-*