#*
.#*
test/#*
*.elc
*.eml
*.js
*.org
*.php
*.py
*.rb
*.txt
*~
RCS
run-travis-ci.sh
test/*.hs
test/*.js
test/*.org
test/*.php
test/*.py
test/*.rb
test/*.txt
test/charclass.el
test/lisp-bracket.el
test/web-mode.el
v
/test/nxml1.xml
